@model ProjectTaskDetailView

<div class="card-body">
    <div class="card mb-3 p-3 border-info">
        <!--this form to update task-->
        <form method="post">
            <div class="p-1 mt-2">
                <div class="row mb-1 p-0">
                    <div class="d-flex align-items-center">
                        <label asp-for="ProjectTaskName" class="me-2" style="min-width: 150px;">Task Name</label>
                        <input type="text" asp-for="ProjectTaskName" class="form-control flex-grow-1" placeholder="Task Name" readonly />
                    </div>
                </div>
            </div>
            <div class="p-1 mt-2">
                <div class="d-flex align-items-center">
                    <label asp-for="ProjectTaskDescription" class="me-2" style="min-width: 150px;">Task Description</label>
                    <textarea asp-for="ProjectTaskDescription" class="form-control flex-grow-1" rows="3" placeholder="Task Description" id="" readonly></textarea>
                </div>
            </div>
            <div class="p-1">
                <div class="row mb-1 p-1">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <label asp-for="ProjectTaskState" class="me-2" style="min-width: 150px;">Task State</label>
                            <div class="col-md-6"> <!-- Adjust the column width as needed -->
                                <input type="text" asp-for="ProjectTaskState" class="form-control flex-grow-1" placeholder="Task State" readonly />
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <label asp-for="ProjectTaskStartDate" class="me-2" style="min-width: 150px;">Start Date</label>
                            <!-- HTML for Datepicker -->
                            <div class="col-md-6">
                                <div class="input-group date">
                                    <input asp-for="ProjectTaskStartDate" type="text" class="form-control" placeholder="mm/dd/yyyy" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3 justify-content-end">
                            <label asp-for="ProjectTaskDueDate" class="me-2" style="min-width: 150px;">Due Date</label>
                            <div class="col-md-6">
                                <div class="input-group date">
                                    <input asp-for="ProjectTaskDueDate" type="text" class="form-control" placeholder="mm/dd/yyyy" readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-end">
                            <label asp-for="ProjectTaskCompletedDate" class="me-2" style="min-width: 150px;">Completed Date</label>
                            <div class="col-md-6">
                                <div class="input-group date">
                                    <input asp-for="ProjectTaskCompletedDate" type="text" class="form-control" placeholder="mm/dd/yyyy" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card-body">
    <div class="card mb-3 p-3 border-info">
        <!--this is to show history note activities -->
        <div class="row p-1 mt-2">
            <div class="col">
                <div class="d-flex">
                    <!-- Label on the top-left -->
                    <div class="me-2 mb-2" style="min-width: 150px;">
                        <label class="form-label">Task Activities</label>
                    </div>
                    
                    <!-- Make the ul inline with the label by using flex-grow-1 for the ul -->
                    <ul class="list-group flex-grow-1 mb-2">
                        @foreach (var item in Model.ProjectTaskActivities)
                        {
                            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                                @item.ActivityNote
                                <span class="badge bg-primary rounded-pill">@item.CreatedDate</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>