
<div>
    @* style="border:red 1px solid" *@
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Projects</div>
                <div class="card-body">
                    @* <h4 class="card-title">ProjectCentral</h4> *@
                    <p class="card-text">“Projects” is a comprehensive platform for managing, documenting, and sharing software projects. 
                        Similar to ServiceNow, it serves as a centralized hub to organize and showcase projects across multiple languages 
                        and frameworks, streamlining project management and tracking development achievements.</p>                    
                    <a asp-area="Visitor" asp-controller="Project"  asp-action="index" class="btn btn-primary mx-2"> 
                        View Projects
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Resume</div>
                <div class="card-body">
                    @* <h4 class="card-title">Software Engineer</h4> *@
                    <p class="card-text">Experienced Software Engineer with over 13 years in the tech industry, starting in August 2011. 
                        Proven track record in developing robust and stable applications across various platforms, 
                        with extensive experience in modern web technologies, .NET Core, and Docker environments. 
                        Adaptable and skilled in handling complex projects, consistently delivering high-quality solutions.</p>
                    <a asp-area="Visitor" asp-controller="Resume"  asp-action="index" class="btn btn-primary mx-2"> 
                        View Resume
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">“Words of Wisdom”</div>
                <div class="card-body">
                    @* <h4 class="card-title"></h4> *@
                    <p class="card-text">My quote collection features meaningful and inspiring reminders that promote living right, 
                        staying focused, and maintaining determination. These quotes serve as daily motivators, offering guidance 
                        and encouragement to navigate life’s challenges with purpose and resilience.</p>
                    <a asp-area="Visitor" asp-controller="Quote"  asp-action="index" class="btn btn-primary mx-2"> 
                        View Quotes
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center ">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;">
                <div class="card-header">“About & Connect”</div>
                <div class="card-body">
                    @* <h4 class="card-title"></h4> *@
                    <p class="card-text">Welcome to my website, a platform where I showcase my software projects, share my interests, 
                        and connect with others. Here, you can explore a collection of my work across various programming languages 
                        and frameworks, as well as gain insights into my passions and experiences. Feel free to reach out through 
                        the contact section for any inquiries, collaborations, or just to say hello.</p>
                        <a asp-area="Visitor" asp-controller="About"  asp-action="index" class="btn btn-primary mx-2"> 
                        View About
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center ">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Posts</div>
                <div class="card-body">
                    @* <h4 class="card-title">Info card title</h4> *@
                    <p class="card-text">Posting creates a structured repository for code insights and project milestones, 
                        offering quick access to essential resources and reinforcing my expertise. It also highlights unique 
                        features of the web application, streamlining workflows across projects.</p>
                    <a asp-area="Visitor" asp-controller="Post"  asp-action="index" class="btn btn-primary mx-2"> 
                        View Posts
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center ">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Topics</div>
                <div class="card-body">
                    @* <h4 class="card-title">Info card title</h4> *@
                    <p class="card-text">The Topics section is a space for exploring diverse subjects and engaging 
                        in meaningful discussions. Here, I share thoughts on various topics, inviting visitors to 
                        contribute their perspectives and join the conversation through response text boxes. It’s a 
                        place for open dialogue, idea exchange, and community engagement.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
