
<div>
    @* style="border:red 1px solid" *@
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Projects</div>
                <div class="card-body">
                    <h4 class="card-title">My projects</h4>
                    <p class="card-text">This section will contain both working on and completed projects.</p>
                    <p class="card-text">The setup idea came from ServiceNow UI.</p>
                    <a asp-area="Visitor" asp-controller="Project"  asp-action="index" class="btn btn-primary mx-2"> 
                        Go To Projects
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Resume</div>
                <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Quotes</div>
                <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center ">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;">
                <div class="card-header">About</div>
                <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center ">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center ">
            <div class="card border-info mb-3 mt-3" style="max-width: 25rem;" >
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
