@model QuoteView
@{
    ViewData["Title"] = "Quotes";
    var quoteCollections = Model.QuoteCollections;
    var activeIndex = "active";
}
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        <div class="card mb-3">
            <h1 class="card-header">Quote Collection</h1>
            
            <ul class="list-group list-group-flush">
                @foreach(var item in quoteCollections)
                {
                    @if(activeIndex == "active")
                    {
                        activeIndex = "non-active";
                    }
                    else{
                        activeIndex = "active";
                    }
                    <li class="list-group-item @(activeIndex == "active" ? "active" : "")">
                        <figure class="text-center">
                            <blockquote class="blockquote">
                                <p class="mb-0">@item.Quote</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                by <cite title="Source Title">@item.Author</cite>
                            </figcaption>   
                        </figure>
                    </li>
                }
                
            </ul>
            
            <div class="card-footer text-muted">
                Quote page
            </div>
        </div>
    </div>
</div>