@model ResumeSummary

<div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        <div class="card mb-3">
            <h3 class="card-header">Edit Resume Summary</h3>
            <form method="post">
                <input asp-for="Id" hidden />
                <input asp-for="CreatedDate" hidden />
                <div class="p-3 mt-4">                
                    <div class="row mb-3 p-1">
                        <label asp-for="Summary" class="col-form-label p-0"></label>
                        <textarea asp-for="Summary" class="form-control" rows="3" placeholder="Summary"></textarea>
                        @* asp-validation-for will display the invalid checking which set on the model itself *@
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-area="Admin" asp-controller="ResumeAdmin" asp-action="Index" class="btn btn-secondary border form-control">
                                Back to Resume Admin
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>