
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        @* <div class="card mb-3">
            <h2 class="card-header">Project Activity</h2>
            <div>
                @Html.Partial("_ActivityMain", projectMain)
            </div>
            <div>
                @Html.Partial("_ActivityTask", Model)
            </div>
            
        </div> *@
    </div>
</div>