html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (min-width: 320px) {
  #quoteLine {
      font-size: 1rem;
  }
}

@media (min-width: 768px) {
  #quoteLine {
      font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  #quoteLine {
      font-size: 2rem;
  }
}

/* this keep the footer stays in the bottom 
** Since Bootswatch doesn't provide footer style, I have to come up with my own.
** This block of css code will only work within this site.css file.
*** If this is placed within the layout's header, it will only work locally but not for Docker.
*/
/* html, body {
    height: 100%;
    margin: 0;
} */

/* Use flexbox to structure the layout */
/* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* Allow main content to grow to take up remaining space */
/* main {
    flex-grow: 1;
} */

/* Footer styling to ensure it stays at the bottom */
/* footer {
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #ddd;
} */

/* Container tweaks to ensure it fits properly */
/* .container-fluid {
    flex-grow: 1;
} */
/* End - this keep the footer stays in the bottom */